.title {
    font-family: 'Rampart One', cursive;
    opacity:0.3;
}
#tweet {
    background-color: #1d9bf0;
    color:#FFFFFF;
}

.block {
    display: inline-block;
    background-image: url("./block.png");
    background-size: contain;
    width: 55px;
    height: 55px;
    margin-bottom:0 !important;

    color:#FFFFFF;
    font-size:2em;
    font-weight:bold;
}