.title {
    font-family: 'Rampart One', cursive;
    opacity:0.3;
}
#tweet {
    background-color: #1d9bf0;
    color:#FFFFFF;
}

#word {
    width: 30em;

    margin-left: auto;
    margin-right: auto;
}

.block {
    display: inline-block;
    background-image: url("./block.png");
    background-size: contain;
    width: 55px;
    height: 55px;
    margin-bottom:0 !important;

    color:#FFFFFF;
    font-size:2em;
    font-weight:bold;
    text-align:center;
}

.blockw {
    display: inline-block;
    background-image: url("./blockW.png");
    background-size: contain;
    width: 55px;
    height: 55px;
    margin-bottom:0 !important;

    color: #808080;
    font-size:2em;
    font-weight: normal;
    text-align:center;
}

.blockx {
    display: inline-block;
    height: 53px;
    transform: translate(0px, 3px);;
    margin-bottom:0 !important;
    border: 2px solid #808080;
    color: #808080;
    font-size:2em;
    font-weight: normal;
    text-align:center;
}

.spacer {
    height:0.5em;
}